@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --grey-black: #202124;
	--grey-medium: #5F6368;
	--grey-ligth: #dadce0;
	--blue-ligth: #c2e7ff;
	--blue-medium: #5999ee;
	--blue-ocean: #1771e7;
}

/**
* General Style
*/

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    color: var(--grey-black);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--grey-medium);
}

h1 {
	font-size: 1.35rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.20rem;
}

h4 {
	font-size: 1.15rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: .9rem;
}



.container {
    padding: 18px;
}



/**
* Buttons
*/

#btn-add {
	display:inline;
	position: fixed;
	bottom: 23px;
	right: 23px;
	padding: 16px;

	background-color: white;
	border: 1px solid rgba(rgba(59, 59, 59, 0.671), green, blue, alpha);
	border-radius: 47%;
	box-shadow: 1px 1px 4px rgba(116, 116, 116, 0.753);
}

#btn-add td {
	width: 10px;
	height: 10px;
}

#btn-add tr:first-child > td:first-of-type {
	border-right: 4px solid #ea4335;
	border-bottom: 4px solid #fbbc05;
}

#btn-add tr:last-child > td:last-of-type {
	border-top: 4px solid #4285f4;
	border-left: 4px solid #34a853;
}

#btn-add:active {
	background-color: dimgray;
}



/** 
* Navigation and Header
*/

nav {
	margin-bottom: 50px;
}

nav,
header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

nav i {
	min-width: 10%;

	color: var(--grey-medium);
	font-size: 1.1rem;
	text-align: center;
}
nav :first-child {
	font-size: 1.2rem;
	text-align: left;
}

nav :nth-child(2) {
	min-width: 55%;
	padding-right: 10px;
	margin-bottom: -3px;

	text-align: left;
}

header {
	box-sizing: border-box;
	padding: 0px 4px 15px;
	margin-bottom: 20px;
	
	border-bottom: 1px solid rgba(0,0,0,.12);
}

header#title-list :not(:first-child) {
	min-width: 8%;
	text-align: right;
}

header#title-list :first-child {
	min-width: 65%;
}

header#title-list :last-child {
	margin-left: 9px;
	margin-top: -13px;
	transform: rotate(90deg);
}

header a{
	text-decoration: none;
	color: var(--grey-medium);
}


header.header-title i {
	margin-right: 15px;
}

header.header-title :nth-child(2) {
	font-weight: 500;
	min-width: 70%;
}

header.header-title button {
	border: none;
	border-radius: 5px;
	background-color: var(--blue-ocean);
	color: var(--grey-ligth);
	padding: 8px 25px;
	font-weight: 500;
}




/** 
* Main Content
*/

#contact-list main h6 {
	padding: 10px 0 10px;
	font-size: 0.75rem;
	font-weight: 500;
}

#contact-list ul#contatos {
	overflow:auto;
	height:75vh;
}

#contatos li {
	margin: .3rem 0;

	margin: 20px 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

#contatos div {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 36px;
	min-height: 36px;
	margin-right: 25px;

    border-radius: 50%;
    background-color: royalblue;
	color: white;
}


.image-contact {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	height: 100px;
	width: 100px;
	
	background-color: var(--blue-ligth);
	font-weight: bolder;
	font-size: 1.8rem;
}

#form-register input:focus::placeholder{
	color: transparent;
	transition: .2s;
}

#form-register input::placeholder,
#form-register input[type="date"]::placeholder{
	color: rgba(0,0,0,.38)
}

#form-register input[type="date"]::before {
	color: #ea4335;
}

#form-register input {
	border: none;
	border-bottom: 1px solid var(--grey-ligth);
}

#form-register input:focus {
	box-shadow: 0 0 0 0;
	outline: 0;
}

#form-register input:focus {
	border-bottom: 2px solid var(--blue-ocean);
	transition: .2s;
}

#form-register div {
	margin-bottom: 20px;
}

#form-register div:nth-of-type(even){
	min-width: 80%;
}


#form-register div:nth-of-type(odd){
	min-width: 15%;
}

#form-register div:nth-of-type(odd) span{
	display: flex;
	align-items: center;
	justify-content: center;
}

#form-register label {
	padding-top: 5px;
}

#form-register label {
	display: block;
	font-size: .7rem;
	font-weight: 500;
	color: var(--blue-medium)
}

#form-register i.ti-close {
	font-size: .7rem;
	font-weight: bold;
	text-shadow: 1px 0px 0px var(--grey-ligth);
	margin: 0 20px;
}

#form-register i,
#form-register span {
	color: var(--grey-medium);
}

#form-register div {
	display: inline-block;
}

span.ti-user {
	padding-bottom: 50%;
}